USE [stri16]
GO
/****** Objet :  Table [dbo].[DETAIL_COMMANDE]    Date de génération du script : 09/24/2015 14:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAIL_COMMANDE](
	[Id_prod] [char](10) NOT NULL,
	[Id_com] [int] NOT NULL,
	[Qt_dc] [numeric](18, 0) NULL,
	[Prix_dc] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DETAIL_COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_COMMANDE_COMMANDE] FOREIGN KEY([Id_com])
REFERENCES [dbo].[COMMANDE] ([Id_com])
GO
ALTER TABLE [dbo].[DETAIL_COMMANDE] CHECK CONSTRAINT [FK_DETAIL_COMMANDE_COMMANDE]
GO
ALTER TABLE [dbo].[DETAIL_COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_COMMANDE_PRODUIT] FOREIGN KEY([Id_prod])
REFERENCES [dbo].[PRODUIT] ([Id_prod])
GO
ALTER TABLE [dbo].[DETAIL_COMMANDE] CHECK CONSTRAINT [FK_DETAIL_COMMANDE_PRODUIT]